<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Job Search Engine</title>
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Job Offers Search Engine</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		
		  </div>
		</nav>

	</div>
	<div class="container-fluid mt-3">
		<div class="card text-center">
		  <div class="card-body">
		    <h5 class="card-title">Find A Job Today!</h5>
		    <p class="card-text">Looking for a new career opportunity? Check out our latest job listings!</p>
		    
		  </div>
		</div>
	</div>
	<div class="container-fluid row mt-3 mb-3">
		<div class="row text-center">
		  <div class="col-sm-4 mb-3 mb-sm-0">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Search for your dream career.</h5>
			  <div>
				<form th:action="@{/api/job-offers/api/search}" method="get">
					<fieldset>
						<div class="mb-3">
							<label for="keyword" class="form-label">Search</label>
							<input type="text" id="keyword" class="form-control border-radius-3" name="keyword" placeholder="Enter Keywords">
						</div>
						<button type="submit" name="btn_search" class="btn btn-primary">Search</button>
					</fieldset>
				</form>
			  </div>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-8">
		    <div class="card">
		      <div class="card-body">
		        <h5 class="card-title">Recent Posted Jobs..</h5>
		        <p class="card-text">Your search results will also be displayed here.</p>
				  <div th:if="${listJobs != null}">
					  <div class="row">
						  <div th:each="job : ${listJobs}" class="col-md-6 mb-4">
							  <div class="card">
								  <div class="card-header">
									  <span th:text="${job.title}">JobTitle</span> - (<span th:text="${job.occupation}">Occupation</span>)
								  </div>
								  <div class="card-body">
									  <h5 class="card-title">Company Description</h5>
									  <p class="card-text" th:text="${job.companyDescription}">companyDescription goes here</p>
									  <h5 class="card-title">Job Description</h5>
									  <p class="card-text" th:text="${job.description}">jobDescription goes here</p>
								  </div>
								  <div class="card-footer text-body-secondary">
									  <span th:text="${job.location}">Location goes here</span>
								  </div>
							  </div>
						  </div>
					  </div>
					  <div th:if="${listJobs == null || listJobs.isEmpty()}">
						  <p>No job offers found.</p>
					  </div>
		      </div>
			  </div>
		    </div>
		  </div>
		</div>
	</div>

	<div class="footer text-center bg-dark text-white mt-5 p-2">Job Search Engine. </div>

<script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>